node_modules
webview-ui/node_modules
webview-ui/src
webview-ui/public
webview-ui/.gitignore
webview-ui/vite.config.ts
webview-ui/tsconfig.json
webview-ui/tsconfig.node.json
webview-ui/tailwind.config.js
webview-ui/postcss.config.js
src
.vscode
.github
**/*.ts
!dist/**/*.js
**/*.map
.gitignore
**/.DS_Store
